---
import Layout from "../layouts/Layout.astro";
import Info from "../components/Info.astro";
import Summary from "../components/ProjectList.astro";
import Footer from "../components/Footer.astro";
import "../css/style.css";
---

<Layout title="Jesse Fernandez">
  <main class="landing" id="page-wrapper">
    <Info class="info_cont" />
    <Summary class="sections_cont" />
    <Footer />
  </main>
</Layout>
<style>
  .landing {
    display: grid;
    gap: 10px 20px;
    grid-template-columns: 40% auto;
    grid-template-areas:
      "info sections"
      ". sections";
  }
  .info_cont {
    grid-area: info;
  }
  .sections_cont {
    grid-area: sections;
  }
  @media screen and (max-width: 960px){
    .landing{
      grid-template-columns: auto;
      grid-template-areas:
      "info"
      "sections";
    }
    
  }
</style>
