<section id="banner">
    <div class="inner">
        <h2>Jesse Fernandez</h2>
        <p>Software Engineer</p>
        <ul class="actions special">
            <li><a href="#" class="button primary">Contact</a></li>
        </ul>
    </div>
    <a href="#one" class="more scrolly">Learn More</a>
</section>