<section>
  <h2>Experience</h2>
  <div class="experience_cont">
    <lu class="experience">
      <li>Process Engineer</li>
    </lu>
  </div>
</section>
<style>
  .experience_cont {
    margin: 10px;
    min-width: 350px;
    padding: unset;
    background-color: rgb(73, 90, 85, 0.6);
    border-radius: 5px;
    padding: 15px;
    margin: 10px;
  }
  .experience {
    list-style-type: "> ";
  }
  h2 {
    padding-left: 20px;
    margin: 10px 0px 0px 0px;
    font-size: xx-large;
  }
</style>
