<section id="info">
  <div class="inner">
    <h1>Jesse Fernandez</h1>
    <h2>Software engineer with a background in process engineering</h2>
    <p>
      Proficient in JavaScript, Python, Flask, React and process improvement.
    </p>
    <p class="resume_link">
      Download my <a
        href="https://drive.google.com/file/d/13Vh13bQ-t8rkZ9i4IqyjwLlK88H8CKCc/view?usp=sharing"
        >resume</a>
    </p>
  </div>
</section>
<style>
  .info {
    min-width: 350px;
  }
  .inner {
    background-color: rgb(73, 90, 85, 0.9);
    border-radius: 5px;
    padding: 15px;
    margin: 10px 20px;
  }
  .inner:hover {
    background-color: rgb(73, 90, 85, 1);
  }
  h1 {
    margin: 10px 0px 0px 0px;
    font-size: xx-large;
  }
  h2 {
    margin: unset;
  }
  .resume_link {
    margin: 16px auto 5px;
  }
</style>
