<section id="info">
  <div class="inner">
    <h1>Jesse Fernandez</h1>
    <h2>Software Engineer with a background in Process Engineering</h2>
    <p>
      Proficient in JavaScript, Python, Flask, React and Process Improvement.
    </p>
  </div>
</section>
<style>
  .inner {
    background-color: rgb(73, 90, 85, 0.9);
    border-radius: 5px;
    padding: 15px;
    margin: 10px 20px;
    min-width: 350px;
  }
  .inner:hover {
    background-color: rgb(73, 90, 85, 1);
  }
  h1 {
    margin: 10px 0px 0px 0px;
    font-size: xx-large;
  }
  h2 {
    margin: unset;
  }
</style>
