<section id="info">
  <div class="inner">
    <h2>Jesse Fernandez</h2>
    <p>Software Engineer</p>
    <ul class="actions">
      <li><a href="#" class="button">Contact</a></li>
    </ul>
    <h2>Software Engineer with a background in Process Engineering</h2>
    <p>
      Proficient in JavaScript, Python, Flask, React and Process Improvement.
    </p>
    <!-- <ul class="skills">
      <li>JavaScript</li>
      <li>Python</li>
      <li>React</li>
      <li>Flask</li>
      <li>Astro</li>
    </ul> -->
  </div>
</section>

<style>
  .inner {
    background-color: rgb(73, 90, 85, 0.6);
    border-radius: 5px;
    padding: 15px;
    margin: 10px;
    min-width: 350px;
  }
  .actions {
    list-style: none;
    padding: unset;
  }
  .skills {
    list-style-type: "> ";
  }
  .skills > li {
    margin: 3px 0px;
  }
</style>
