---
import Projectcard from "./ProjectCard.astro";
import Projectjson from "../components/projects.json";
---

<section id="one" class="wrapper style1 special">
  <h2>Projects</h2>
  <ul class="projects_cont">
    {
      Projectjson.map((project) => {
        return <Projectcard {project} />;
      })
    }
  </ul>
</section>
<style>
  .projects_cont {
    list-style: none;
    margin: 10px;
    min-width: 550px;
    padding: unset;
    height: 600px;
    overflow: hidden scroll;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
  .projects_cont::-webkit-scrollbar {
    display: none;
  }
  #one > h2 {
    padding-left: 20px;
    margin: 10px 0px 0px 0px;
    font-size: xx-large;
  }
  @media screen and (max-width: 960px) {
    .projects_cont {
      height: unset;
    }
  }
</style>
