---
export interface Props {
  project: Array<string>;
}
const { project } = Astro.props as Props;
---

<div class="project_card">
  <h2>{project.name}</h2>
  <p>{project.desc}</p>
  <ul class="project_list_item">
    {
      project.features.map((item) => {
        return <li>{item}</li>;
      })
    }
  </ul>
  <a href={project.url}>Link to Project</a>
</div>
<style>
  .project_card {
    background-color: rgb(73, 90, 85, 0.85);
    border-radius: 5px;
    padding: 15px;
    margin: 10px;
  }
  .project_card:hover {
    background-color: rgb(73, 90, 85, 1);
  }
  .project_card>h2{
    margin: 0px 0px 10px 0px;
  }
  .project_list_item {
    list-style: "> ";
  }
  .project_list_item > li {
    margin: 8px 0px;
  }
</style>
