---
import Projectcard from "./ProjectCard.astro";
import Projectjson from "../components/projects.json";
---

<section id="one" class="wrapper style1 special">
  <ul class="projects_cont">
    <h2>Projects</h2>
    {
      Projectjson.map((project) => {
        return <Projectcard {project} />;
      })
    }
  </ul>
</section>
<style>
  .projects_cont {
    list-style: none;
    margin: 10px;
    min-width: 550px;
    padding: unset;
  }
  .projects_cont > h2 {
    padding-left: 20px;
    margin: 10px 0px 0px 0px ;
    font-size: xx-large;
  }
</style>
