<section class="summary_cont">
  <div>
    <h2>About Me</h2>
    <p>
      Hello! I'm Jesse Fernandez, a software engineer who discovered a love for
      computers and the technologies behind them at a young age. Fascinated by
      their intricate workings, I explored programming and crafted my first
      websites, modified games, and set-up systems, igniting a passion for
      technology and problem-solving.<br /><br /> My career started in process
      engineering, where I optimized systems and enhanced efficiencies.
      Simultaneously, I nurtured my interest in tech, delving into Linux
      systems, server management, integrated systems, and IoT.
      <br /><br />Transitioning into software, I found a perfect synergy between
      my engineering background and programming experience. Drawing from my
      early fascination with computers and the knowledge I gained from attending
      App Academy, I dived deeper into web development and software engineering,
      leveraging my understanding of systems to create efficient, scalable
      solutions. <br /><br />Eager to continue exploring the dynamic world of
      software, I'm driven by a desire to innovate and create impactful
      solutions. My journey from early web development to managing complex
      systems has shaped me into a versatile professional ready to merge
      engineering principles with cutting-edge technology.
    </p>
  </div>
</section>
<style>
  .summary_cont {
    height: 55vh;
    margin: 0px 10px;
    overflow: hidden auto;
    min-width: 350px;
    -ms-overflow-style: auto; /* IE and Edge */
    scrollbar-width: thin; /* Firefox */
  }
  .summary_cont::-webkit-scrollbar {
    background-color: antiquewhite;
    width: 5px;
  }
  .summary_cont::-webkit-scrollbar-thumb {
    background-color: grey;
  }
  .summary_cont div {
    background-color: rgb(73, 90, 85, 0.9);
    border-radius: 5px;
    padding: 15px;
    margin: 10px;
  }
  .summary_cont div:hover {
    background-color: rgb(73, 90, 85, 1);
  }
  .summary_cont div > h2 {
    margin: 0px 0px 10px 0px;
  }
  @media screen and (max-width: 500px) {
    .summary_cont {
      height: 45vh;
    }
  }
  @media screen and (max-width: 960px) and (min-width: 501px) {
    .summary_cont {
      height: 30vh;
    }
  }
</style>
