---
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Jesse Fernandez Portfolio" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/png" href="/Portfolio/favicon.png" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <slot />
  </body>
</html>
<style>
  body {
    background-image: -moz-linear-gradient(
        top,
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)
      ),
      url("/Portfolio/assets/images/pexels-kevin-ku-577585.jpg");
    background-image: -webkit-linear-gradient(
        top,
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)
      ),
      url("/Portfolio/assets/images/pexels-kevin-ku-577585.jpg");
    background-image: -ms-linear-gradient(
        top,
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)
      ),
      url("/Portfolio/assets/images/pexels-kevin-ku-577585.jpg");
    background-image: linear-gradient(
        top,
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)
      ),
      url("/Portfolio/assets/images/pexels-kevin-ku-577585.jpg");
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  @media screen and (max-width: 960px){
    body{
      /* background-size:; */
    }
  }
</style>
